/* GlOBAL SECTION */
body {
  font-family: "Raleway", sans-serif;
}

/* HOMEPAGE SECTION */

.homepage header {
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.homepage .container {
  padding: 0;
  height: calc(100vh - 104px);
}

main.container {
  /* height: 100vh; */
  /* width: 100%; */
  /* margin: 0; */
  max-width: 100%;
}

.hero-image {
  margin-top: 104px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dewbhwqgu/image/upload/v1663899024/strawberry-garden_qswbi9.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  left: 3%;
  position: absolute;
  color: white;
  top: 31%;
  font-size: 80px;
}

/* MAIN NAVBAR SECTION */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.navbar-brand {
  font-size: 2.25rem;
  color: #00a36c;
}
.navbar-brand:hover {
  color: green;
}
.left-nav-controls {
  display: flex;
  align-items: center;
  padding: 20px;
}
.right-nav-controls {
  padding: 20px;
}
.nav-form-buttons-container {
  margin-left: 60px;
}
.nav-form-buttons-container form {
  width: 400px;
}
.right-nav-controls a {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
  border-radius: 500px;
}
a.btn.signup-button {
  background: #00a36c;
  color: #fff;
}

/* VENDORS AND MAP PAGE */
.vendors-map img {
  max-width: 100%;
}
.vendors.flex-container {
  display: flex;
}
.vendor-cards.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.box1 {
  flex: 1 1 50%;
}
.box2 {
  flex: 1 1 50%;
}
.card {
  margin: 15px;
}

/* FOOTER SECTION */
.footer-container {
  margin: 0 40px;
}
.social-media {
  margin-top: 50px;
  display: flex;
}
.app-stores {
  width: 150px;
  margin: 5px 10px 5px 0;
}
.cart-counter {
  color: black;
}
.signup button,
.login button {
  width: 100%;
  background-color: #00a36c;
  border-color: #00a36c;
}
.signup button:hover,
.login button:hover {
  background-color: #00a36c;
  border-color: #00a36c;
}
